/* Font Family Persian */
@font-face {
    font-family: Sarbaz;
    src: url('/Css/Fonts/Sarbaz.ttf');
}

@font-face {
    font-family: Vazir;
    src: url('/Css/Fonts/Vazir.ttf');
}

@font-face {
    font-family: IranSens;
    src: url('/Css/Fonts/IranSens.ttf');
}





.Fvazir{
    font-family: vazir;
}

.FSarbaz{
    font-family: Sarbaz;
}



.font1{
    font-size: 0.7rem;
}

.font2{
    font-size: 0.8rem;
}

.font3{
    font-size: 0.9rem;
}

.font4{
    font-size: 1rem;
}

.font5{
    font-size: 1.1rem;
}
.font6{
    font-size: 1.2rem;
}
.font7{
    font-size: 1.3rem;
}
.font8{
    font-size: 1.4rem;

}
.font9{
    font-size: 1.5rem;
}

.d-none{
    display: none;
}
/* styles  */
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: vazir !important;
	background: linear-gradient(to bottom, #3e2fcb, #5145d2, #5a5ab6);
}

*{
    font-family: vazir !important;

}


.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}


.fo{
    width: 350px;
	height: 500px;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    background-color: #eee !important;
}


.colorForget{
    color: #5145d2;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
    direction: rtl;
}
.wh{
    color: white !important;
}
.m-0{
    margin: 0!important;
    padding: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #5145d2;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    font-family: vazir !important;
}
.btnblu{
    background: #232372;
}
.btnblu:hover{
    background: #171736;

}
button:hover{
	background: #3a319a;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.Forget{
    height: 100%;
	background: #eee !important;
	transform: inherit !important;
	transition: inherit !important;
	border-radius: 10px;

}
.login label{
	color: #5145d2;
	transform: scale(.6);
}

.ForgetPass{
	color: #5145d2;
    text-align: center;
    cursor: pointer;
	transform: scale(1);

}
.ForgetPass:active{
	transform: scale(0.9);
    user-select: none;

}




#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}


.alert{
	position: fixed;
	background-color: #fff;
	color: #3e2fcb;
	border-radius: 10px;
	padding:15px;
	margin: 30px 40px;
	left: 0;
	bottom: 0;
	user-select: none;
	border: 3px solid rgb(13, 114, 157);
	animation: tilt-shaking 0.7s infinite;
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}